.header {
  background-color: #000000;
}

.cont-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vh;
}

.cont-flex img {
  width: 20%;
}

.cont-flex nav {
  display: flex;
  align-items: center;
  margin-right: 10vh;
  gap: 80px;
}

.cont-flex a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  color: #daa520;
}
.cont-flex a:hover {
  color: #ffffff;
  transition: 0.4s;
}
.cont-flex a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #ffffff;
  margin-top: 4px;
  transition: 0.4s;
  position: absolute;
}
.cont-flex a:hover::after {
  width: 100%;
}

/* ABOUT */
.introduction {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  gap: 100px;
}

.introduction img {
  width: 100%;
  border-radius: 4px;
}

.introTitle h1 {
  font-size: 4em;
  line-height: 1.2;
  margin-bottom: 30px;
  position: relative;
}

.introTitle h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/details/detalhe.svg) no-repeat center;
  position: absolute;
  top: -20px;
  left: -50px;
  z-index: -1;
}

.introTitle p {
  font-size: 1.3em;
  color: #52525252;
}

/* EXPERIENCE */
.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  gap: 100px;
}

.experience .subtitle {
  color: #e0e0e0;
}

.experienceDescription {
  font-size: 1.3em;
  line-height: 1.2;
  max-width: 45ch;
  margin-bottom: 60px;
  color: #141414;
}

.experienceDescription strong {
  color: #000000;
}

.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin-bottom: 20px;
  gap: 10px 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  position: relative;
}

.company::before {
  display: block;
  content: "";
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6a475, #a69260);
  position: absolute;
  top: 20px;
  left: -4px;
}

.companyYear {
  position: absolute;
  text-align: right;
  width: 80px;
  top: 22px;
  left: -90px;
  color: #525252;
  font-size: 0.85em;
}

.companyTitle {
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: bold;
}

.companyText {
  font-size: 0.875em;
  line-height: 1.4;
  color: #525252;
}

.companySkills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}

.companySkills li {
  font-size: 0.875em;
  line-height: 1.4;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #ffffff;
}

/* EXPERTISE */
.expertise {
  background-color: #141414;
  color: #ffffff;
}

.expertiseContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  gap: 100px;
}

.expertise .subtitle {
  color: #292929;
}

.expertiseText {
  font-size: 1.3em;
  line-height: 1.2;
  max-width: 45ch;
  margin-bottom: 15px;
  color: #a3a3a3;
}

.expertiseText strong {
  color: #ffffff;
}

.expertiseExtra h3 {
  font-size: 0.875em;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 30px;
  position: relative;
}

.expertiseExtra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: -36px;
}

.courses h3::before {
  background: url(../img/details/cursos.svg) no-repeat center center;
}

.languages h3::before {
  background: url(../img/details/idiomas.svg) no-repeat center center;
}

.expertiseExtra li {
  font-size: 1.2em;
  line-height: 1.1;
  margin-bottom: 20px;
}

.expertiseExtra span {
  color: #8f8f8f;
}

.courses li {
  display: flex;
  justify-content: space-between;
}

.download {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 60px;
}

.download a:hover {
  color: #daa520;
  transition: 0.4s;
}
