* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffafa;
}

.subtitle {
  font-size: 8em;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 6ch;
}
